
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
#warper {

}



.topbar{
  background-color: #075589;
  height: 38px;
  line-height: 38px;
  box-sizing: border-box;
}
.topbar .date{
  display: inline-block;
  color: #fff;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url(../assets/images/top_tb.png);
}
.tbr{
    float: right;
    list-style: none;

}
.tbr li{

    display: inline-block;

}
.tbr li a{
  display: block;
  color: #fff;
  width: 70px;
  text-align: center;
}
.tbr li a:hover{
  background: #f0b303 none repeat scroll 0 0;
}

.tabs{
      border-bottom: 1px solid #d9d9d9;
}

.tabwarp{
  width: 1170px;
  margin: auto;
  overflow: hidden
}


.logo{

  height: 134px;
  background-color: #1575B1;

}
.lg{
  background-color: #1575B1;
}
.loginBox{
  float: right;
  height: 47px;

}
.loginBtn{
   color: #0C0C0D;
   font-size: 18px;
   line-height: 47px;
   
}
.logout{
  line-height: 47px;
  font-size: 18px
}
.logout a{
  color: red
}